body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
}
:root{
    /* colors */
    --color1: #080F61;
    --color2: #612911;
    --color3: #C96065;
}
nav #headerCSS{
    background-color: var(--color1);
}

#btnCSS{
    background-color: var(--color3);
    border-radius: 5px;
}
#imgCSS{
    height: 60px;
    
}
#navCSS{
    background-color: white;;
}
#imglogo {
    text-align: center;
    margin-left: 10%;
    float: center;
    height:  4.1rem;
    align-items: center;
    align-content: center;
    
}
/* .fg {
    position:relative;
    border: 1px dotted white;
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11);
  } */
  .input-field label {
    /* color: rgb(42, 27, 172); */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  #txtLocation{
    text-align: center;
  }
  #fixCursor{
    cursor: default;
  }
  .containerCSS{
    height: 480px;
  }
  #btnSave{
    margin-top: 10px;
    background-color: var(--color3);
  }
  

























































.footer {
    position: relative;
    width: 100%;
    background: var(--color1);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialIcon{
    border: 1px transparent;
    border-radius: 4px;
    padding: 2px;
    width: 160px;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }